{% extends 'base.html.twig' %}

{% block title %}Baby Brouwer&#x2122; Wat wordt het?{% endblock %}

{% block stylesheets %}
    {#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />#}
    {% stylesheets '@BabyAppBundle/Resources/public/stylesheets/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts '@BabyAppBundle/Resources/public/bower_components/modernizr/modernizr.js'%}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="medium-11 columns main-container">
                {% block content %}{% endblock %}
                {% block footer %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
