// Defaults
.container {
  margin-right: 10px;
  padding-right: 10px;

  > .row {
    margin-left: 0;
  }
}

.main-container {
  background-color: $container-color;
  min-height: 100px;

  margin-top: 10px;
  padding: 10px;

  @include border-right-radius(10px);
}

.back-link {
  margin-right: 10px;
  margin-bottom: 10px;
  > a {
    color: $tuatara;
  }
}

.boy-text {
  color: $boy-color;
}
.girl-text {
  color: $girl-color;
}

// Phones <768px

// Tables >=768px
@media all and (min-width: 768px) and (max-width: 991px) {
  .main-container {
    margin-top: 20px;
    padding: 20px;

    @include border-right-radius(20px);
  }

  .back-link {
    margin-right: 20px;
    margin-bottom: 20px;
  }
}

// Desktops >=992px
@media all and (min-width: 992px) and (max-width: 1199px) {
  .main-container {
    margin-top: 30px;
    padding: 30px;

    @include border-right-radius(30px);
  }

  .back-link {
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

// HD >= 1200px
@media all and (min-width: 1200px) {
  .main-container {
    margin-top: 100px;
    padding: 100px;

    @include border-right-radius(100px);
  }

  .back-link {
    margin-right: 100px;
    margin-bottom: 100px;
  }
}
