{% extends 'BabyAppBundle::main.html.twig' %}

{% block content %}
    <div class="row">
        <div class="columns small-12">
            <h1>Cheater!</h1>

            <p>
                Kon je niet wachten!?
            </p>
        </div>
    </div>
{% endblock %}
